# Don't sync API keys
llm/python/together.ai_key.txt
llm/python/google_maps_api_key.txt

llm/python/Molly/Figures/*.png
llm/python/Molly/Figures/**/*.png

# Build pages for the web
_build
_site

# vim
*.swp

# Mac crap
.DS_Store

# jupyter stuff
**/.virtual_documents/
**/.ipynb_checkpoints/

# Python stuff
**/__pycache__/

# LaTeX build files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.inx
*.log
*.lof
*.lot
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb

# Intermediate and output files
# *.pdf
*.dvi
*.ps
*.eps

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo
.Rproj.user
